<div class="container p-4">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" name="username" [(ngModel)]="login.username" placeholder="name@example.com">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password" [(ngModel)]="login.password" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <button class="btn btn-success col-12" (click)="logearse()">Iniciar Sesion</button>
        <div class="row">
            <div>
                <a href="/singup" class="link-dark">Crear cuenta</a>
            </div>
            <div>
                <a href="/recovery" class="link-dark">Olvide mi contraseña</a>
            </div>
        </div>
      </div>
</div>